.filterDiv {
    border: 1px solid black;
    max-height: 250px;
    overflow: scroll;
    margin-bottom: 10px;
}

.filterDiv p{
    position: sticky;
    top: 0;
    margin: 0;
    padding: 5px;
    background-color: white;
}

.filterDiv div {
    padding: 5px;
}